<!DOCTYPE html>
<html>
    <head>
        <title>Scott's Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Scott's Blog</a></h1>
        </header>

        <article>
            <time>published: 09.09.2025, 16:18</time>
            <h2><a href="">David Ragan is the greatest NASCAR driver ever</a></h2>
            <p>I don't care that Jimmie Johnson won 7 championships, Cam. David Ragan's better.</p>
        </article>

        <article>
            <time>published: 09.09.2025, 16:18</time>
            <h2><a href="">Lando Norris will win the 2025 championship</a></h2>
            <p>Yep, you heard it. Sucks to be you, Dakota.</p>
        </article>
    </body>
</html>